{
  presets: ['stage-2', 'react'],
  plugins: [
    'transform-decorators-legacy',
    [
      'flow-runtime',
      {
        assert: false,
        annotate: false,
        warn: false
        // optInOnly: true
      }
    ]
  ],
  env: {
    test: {
      presets: [['env'], 'stage-2', 'react']
    }
  }
}
