{
  presets: [
    'env', // TODO fix issue with 'env': necessary for jest, breaks code built w webpack
    'stage-2',
    'react'
  ],
  plugins: [
    'transform-decorators-legacy',
    [
      'flow-runtime',
      {
        assert: false,
        annotate: false,
        warn: false,
        // optInOnly: true
      }
    ]
  ]
}
