{
  "parser": "eslint-plugin-typescript/parser",
  "plugins": ["typescript", "no-only-tests"],
  "rules": {
    "no-console": "warn",
    "no-unused-expressions": "error",
    "typescript/no-unused-vars": "error",
    "no-only-tests/no-only-tests": "error"
  }
}
