{
  "parser": "eslint-plugin-typescript/parser",
  "plugins": ["typescript"],
  "rules": {
    "no-unused-expressions": "error",
    "typescript/no-unused-vars": "error",
    "no-console": "warn"
  }
}
