# editor files
.tern-port

# build files
lib

# testing cruft
testing/functional/.run-output

# coverage reports
  folder: path.resolve(__dirname, '../', '.run-location', `${path.basename(__dirname)}`),
.nyc_output
coverage

# scratchwork folder
scratchwork

node_modules
